$main-color: #0084DD;
$heading-color: #444444;
$sub-heading-color: #828282;
$service-icon-color: #292929;
$gray-bg: #f7f7f7;
$footer-bg-color: #ffffff;
$footer-bottom-color: #f7f7f7;
$pricing-bg: #f7f7f7;