.gallery-container {
    #novelty-gallery {
        list-style: none;
        margin: 0 !important;
        padding: 0 !important;
    }
    .gallery-item {
        cursor: pointer;
        padding: 0px;
        position: relative;
        overflow: hidden;
        @include transition(all 0.3s ease);
        &:before {
            @include transition(all 0.3s ease);
            z-index: 200;
            content: "";
            width: 100%;
            height: 100%;
            background-color: darken($main-color, 30%);
            position: absolute;
            top: 0;
            @include opacity(0.3);
        }
        .image {
            @include filter(grayscale(0));
            @include transition(all 0.3s ease);
        }
        .caption {
            position: absolute;
            z-index: 201;
            left: 0;
            bottom: 0;
            padding: 24px 30px;
            width: 50%;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            line-height: 1;
            font-size: 1em;
            color: #ffffff;
            background: $main-color;
        }
        .gallery-item-icon {
            z-index: 202;
            position: absolute;
            left: 10px;
            bottom: 10px;
            color: #ffffff;
            @include opacity(0.8);
            padding: 10px;
            background: $main-color;
            padding: 5px 10px;
            span {
                font-size: 2em;
            }
        }
        &:hover {
            &:before {
                @include opacity(0);
            }
            .image {
                // @include scale(2);
                @include filter(grayscale(0));
            }
        
        }
    }
}
#lightGallery-close, #lightGallery-Gallery .thumb_cont .thumb_info .close {
    @include opacity(1);
    background-color: $main-color !important;
    height: 25px !Important;
}
#lightGallery-outer, .thumb_cont {
    background: darken($main-color, 35%) !important;
}
.customHtml {
    background: $main-color !important;
    background-color: $main-color !important;
    opacity: 0.9 !important;
}
#lightGallery-Gallery .thumb_cont .thumb {
    height: auto !Important;
}
.thumb_info {
    background: $main-color !important;
}
#lightGallery-action a {
    background-color: $main-color !important;
}
#lightGallery-Gallery .thumb_cont .thumb_inner {
    padding-left: 20px !important;
}
