 {%load static%}
 <footer class="py-5 bg-dark">
		
		<div class="container" >
			<div class="row">

				<div class="mb-4 col-md-4" style="margin: 10px auto;">
					<img src="{% static 'Logo/clogo_3.png' %}" class="img-fluid" alt="photo UNODC"/>
				</div>
					
			</div>
			<div>
				<ul class="join">
					<li>
						<a href = "#">
							<img class="bouge" alt="facebook" src="{% static 'Logo/facebook.png' %}">
						</a>
					</li>
					<li class =>
						<a href="#">
							<img class="bouge" alt="twitter" src="{% static 'Logo/twitter.png' %}">
						</a>
					</li>
					<li>
						<a href="#">
							<img class="bouge" alt="youtube" src="{% static 'Logo/youtube.png' %}">
						</a>
					</li>
				</ul>
			</div>
			
        	<p class="m-0 text-center text-white">Copyright © 2018 Asset Recovery Inter-Agency Network for West Africa (ARINWA)</p>
      	</div>
      <!-- /.container -->
    </footer>