{%load static%}

{% include '_header.html'%}

<section>
{% include '_sidebar_left.html'%}
  

  <div class="mainpanel">

    <!--<div class="pageheader">
      <h2><i class="fa fa-home"></i> Dashboard</h2>
    </div>-->

    <div class="contentpanel">

      <div class="row">
        
        
      </div><!-- row -->

    </div><!-- contentpanel -->

  </div><!-- mainpanel -->

</section>

<script src="{% static 'espaceMembre/lib/jquery/jquery.js' %}"></script>
<script src="{% static 'espaceMembre/lib/jquery-ui/jquery-ui.js' %}"></script>
<script src="{% static 'espaceMembre/lib/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'espaceMembre/lib/jquery-toggles/toggles.js' %}"></script>

<script src="{% static 'espaceMembre/lib/morrisjs/morris.js' %}"></script>
<script src="{% static 'espaceMembre/lib/raphael/raphael.js' %}"></script>

<script src="{% static 'espaceMembre/lib/flot/jquery.flot.js' %}"></script>
<script src="{% static 'espaceMembre/lib/flot/jquery.flot.resize.js' %}"></script>
<script src="{% static 'espaceMembre/lib/flot-spline/jquery.flot.spline.js' %}"></script>

<script src="{% static 'espaceMembre/lib/jquery-knob/jquery.knob.js' %}"></script>

<script src="{% static 'espaceMembre/js/quirk.js' %}"></script>
<script src="{% static 'espaceMembre/js/dashboard.js ' %}"></script>

</body>
</html>
