{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--<link rel="shortcut icon" href="../images/favicon.png" type="image/png">-->

  <title>Arinwa</title>

  <link rel="stylesheet" href="{% static 'espaceMembre/lib/Hover/hover.css' %}">
  <link rel="stylesheet" href="{% static 'espaceMembre/lib/fontawesome/css/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'espaceMembre/lib/weather-icons/css/weather-icons.css' %}">
  <link rel="stylesheet" href="{% static 'espaceMembre/lib/ionicons/css/ionicons.css' %}">
  <link rel="stylesheet" href="{% static 'espaceMembre/lib/jquery-toggles/toggles-full.css' %}">
  <link rel="stylesheet" href="{% static 'espaceMembre/lib/morrisjs/morris.css' %}">

  <link rel="stylesheet" href="{% static 'espaceMembre/css/quirk.css' %}">

  <script src="{% static 'espaceMembre/lib/modernizr/modernizr.js' %}"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="../lib/html5shiv/html5shiv.js"></script>
  <script src="../lib/respond/respond.src.js"></script>
  <![endif]-->
</head>

<body>
 <header>
  <div class="headerpanel">

    <div class="logopanel" style="background-color: white;">
      <h2><a href="/arinwa/my/"><img style="max-width: 200px; max-height: 100px" src="{% static 'dist\img\logo.png' %}"></a></h2>
    </div><!-- logopanel -->

    <div class="headerbar">

      <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>

      <div class="searchpanel">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="{% trans 'Rechercher...' %}">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div><!-- input-group -->
      </div>

      <div class="header-right">
        <ul class="headermenu">
          <li>
            <div id="noticePanel" class="btn-group">
              <button class="btn btn-notice alert-notice" data-toggle="dropdown">
                <i class="fa fa-globe"></i>
              </button>
              
            </div>
          </li>
          <li>
            <div class="btn-group">
              <button type="button" class="btn btn-logged" data-toggle="dropdown">
                <img src="{{membre.avatar.url}}" alt="" />
                {{membre.nom}} {{membre.prenoms}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right">
                <li><a href="profile.html"><i class="glyphicon glyphicon-user"></i> {% trans 'Mon profil' %}</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-cog"></i>{% trans 'Parametres' %}</a></li>
                <li><a href="/arinwa/deconnexion"><i class="glyphicon glyphicon-log-out"></i> {% trans 'Deconnexion' %}</a></li>
              </ul>
            </div>
          </li>
          <li>
            <button id="chatview" class="btn btn-chat alert-notice">
              <span class="badge-alert"></span>
              <i class="fa fa-comments-o"></i>
            </button>
          </li>
        </ul>
      </div><!-- header-right -->
    </div><!-- headerbar -->
  </div><!-- header-->
</header>